* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #000;
    min-height: 100vh;
    font-family: sans-serif;
    font-weight: 900;
}

.counter span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 10em;
    opacity: 0;
    animation: count 1s linear forwards;
    animation-delay: calc(1s * var(--i));
}

@keyframes count {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: #fff;
    font-size: 5rem;
    font-weight: 900;
    transform: scale(0);
    animation: animate 1s linear forwards;
    animation-delay: 3s;
}
h5{
    color: #ff0000;
    font-size: 1.5rem;
    transform: scale(0);
    animation: animate 1s linear forwards;
    animation-delay: 3s;
    margin: 10px 0;
}
p{
    color: #ffff00;
    transform: scale(0);
    animation: animate 1s linear forwards;
    animation-delay: 3s;
}

@keyframes animate {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

h2 span {
    animation: colorChange 4s linear infinite;
}

@keyframes colorChange {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}




/* responsive */
@media screen and (max-width:700px) {
    h2 {
        font-size: 3rem;
    }
}

@media screen and (max-width:418px) {
    h2 {
        font-size: 2rem;
    }
}